<footer class="bg-main-light p-3">
 <div class="container">
  <h1>Get the FreshCArt app</h1>
  <p>we will send you a link open it on your phone</p>
  <div class="row">
    <div class="col-10"><form><input class="form-control" type="text" placeholder="Email"></form></div>
    <div class="col-2"><button class="btn bg-main font-sm">share app link</button></div>
  </div>
  <div class="m-3 row d-flex justify-content-between">
    <div class="w-50 d-flex"> <p class="w-50 m-2">Payment partner</p>
     <a><img class="w-75" src="../../assets/images/payments.png" alt="app"></a>
  </div>
  <div class="w-50 d-flex"> <p class="w-100">Get delivers with Freshcart</p>
    <a><img class="w-75" src="../../assets/images/app.png" alt="app"></a>
</div>
  </div>

 </div>
</footer>
